@page "/"
@page "/services"
@inject IMetaClient metaClient
@inject NavigationManager nav

<h1>Services</h1>

@if (modules != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>#Entities</th>
                <th>#ValueObjects</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var module in modules)
            {
                <tr>
                    <td>@module.Name</td>
                    <td>@module.Description</td>
                    <td>@module.Entities.Count()</td>
                    <td>@module.ValueObjects.Count()</td>
                    <td><button class="btn btn-primary" @onclick="@(e => NavigateToModule(module.Id))">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<AwayFromKeyboard.App.Module> modules { get; set; }

    protected override async Task OnInitializedAsync()
    {
        modules = await metaClient.GetAllModules();
    }

    public void NavigateToModule(Guid moduleId)
    {
        nav.NavigateTo($"/module/{moduleId}");
    }
}

